.hub-wrap {
  .hub-search {
    display: flex;
    .hub-btn {
      margin-left: auto;
    }
  }
  .hub-refresh{
    margin-top: 20px;
    display: flex;
    .hub-flex{
      margin-left: auto;
    }
  }
}